USE [GD1C2019]
GO
/****** Object:  User [gdCruceros2019]    Script Date: 25/5/2019 6:20:31 p. m. ******/
CREATE USER [gdCruceros2019] FOR LOGIN [gdCruceros2019] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [ZAFFA_TEAM]    Script Date: 25/5/2019 6:20:31 p. m. ******/
CREATE SCHEMA [ZAFFA_TEAM]
GO
/****** Object:  Table [ZAFFA_TEAM].[Administrativo]    Script Date: 25/5/2019 6:20:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Administrativo](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](32) NULL,
	[INTENTOS_FALLIDOS] [smallint] NULL,
	[NOMBRE_ROL] [nvarchar](50) NULL,
	[ESTADO_ADMIN] [char](1) NULL,
 CONSTRAINT [PK_Administrativo] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Auditoria_estado_cruceros]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Auditoria_estado_cruceros](
	[FECHA] [datetime2](3) NOT NULL,
	[ID_CRUCERO] [nvarchar](50) NOT NULL,
	[ESTADO_ANTERIOR] [nvarchar](25) NOT NULL,
	[ESTADO_ACTUAL] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Auditoria_estado_cruceros] PRIMARY KEY CLUSTERED 
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Cabina]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Cabina](
	[CRUCERO_ID] [nvarchar](50) NOT NULL,
	[CABINA_NRO] [decimal](18, 0) NOT NULL,
	[CABINA_PISO] [decimal](18, 0) NOT NULL,
	[CABINA_TIPO_ID] [int] NULL,
 CONSTRAINT [PK_Cabina] PRIMARY KEY CLUSTERED 
(
	[CRUCERO_ID] ASC,
	[CABINA_NRO] ASC,
	[CABINA_PISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Cliente]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Cliente](
	[CLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLI_NOMBRE] [nvarchar](255) NULL,
	[CLI_APELLIDO] [nvarchar](255) NULL,
	[CLI_DNI] [decimal](18, 0) NULL,
	[CLI_DIRECCION] [nvarchar](255) NULL,
	[CLI_TELEFONO] [int] NULL,
	[CLI_MAIL] [nvarchar](255) NULL,
	[CLI_FECHA_NAC] [datetime2](3) NULL,
	[NOMBRE_ROL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Crucero]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Crucero](
	[CRUCERO_ID] [nvarchar](50) NOT NULL,
	[CRUCERO_MODELO] [nvarchar](50) NULL,
	[CRUCERO_MARCA_ID] [int] NULL,
	[ESTADO_CRUCERO] [nvarchar](25) NULL,
	[CANTIDAD_CABINAS] [int] NULL,
 CONSTRAINT [PK_Crucero] PRIMARY KEY CLUSTERED 
(
	[CRUCERO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Funcionalidad]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Funcionalidad](
	[FUNCIONALIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_FUNC] [nvarchar](255) NULL,
 CONSTRAINT [PK_Funcion] PRIMARY KEY CLUSTERED 
(
	[FUNCIONALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Funcionalidad x Rol]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Funcionalidad x Rol](
	[NOMBRE_ROL] [nvarchar](50) NOT NULL,
	[FUNCIONALIDAD] [int] NOT NULL,
 CONSTRAINT [PK_Funcionalidad x Rol] PRIMARY KEY CLUSTERED 
(
	[NOMBRE_ROL] ASC,
	[FUNCIONALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Marca]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Marca](
	[CRUCERO_MARCA_ID] [int] IDENTITY(1,1) NOT NULL,
	[CRUCERO_FABRICANTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[CRUCERO_MARCA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Pasaje]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Pasaje](
	[PASAJE_CODIGO] [decimal](18, 0) NOT NULL,
	[PASAJE_PRECIO] [decimal](18, 2) NULL,
	[PASAJE_FECHA_COMPRA] [datetime2](3) NULL,
	[CLI_ID] [int] NULL,
	[VIAJE_ID] [int] NULL,
	[CRUCERO_ID] [nvarchar](50) NULL,
	[CABINA_NRO] [decimal](18, 0) NULL,
	[CABINA_PISO] [decimal](18, 0) NULL,
	[MEDIO_DE_PAGO] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pasaje_1] PRIMARY KEY CLUSTERED 
(
	[PASAJE_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Puerto]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Puerto](
	[PUERTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PUERTO] [nvarchar](255) NULL,
	[ESTADO_PUERTO] [char](1) NULL,
 CONSTRAINT [PK_Puerto] PRIMARY KEY CLUSTERED 
(
	[PUERTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Recorrido_Unico]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Recorrido_Unico](
	[RECORRIDO_CODIGO] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Recorrido_Unico] PRIMARY KEY CLUSTERED 
(
	[RECORRIDO_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Reserva]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Reserva](
	[RESERVA_CODIGO] [decimal](18, 0) NOT NULL,
	[RESERVA_FECHA] [datetime2](3) NULL,
	[CLI_ID] [int] NULL,
	[VIAJE_ID] [int] NULL,
	[CRUCERO_ID] [nvarchar](50) NULL,
	[CABINA_NRO] [decimal](18, 0) NULL,
	[CABINA_PISO] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[RESERVA_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Rol]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Rol](
	[NOMBRE_ROL] [nvarchar](50) NOT NULL,
	[ESTADO_ROL] [char](1) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[NOMBRE_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Tipo_Cabina]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Tipo_Cabina](
	[CABINA_TIPO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CABINA_TIPO_DESCRIPCION] [nvarchar](255) NULL,
	[CABINA_TIPO_RECARGO] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Tipo_Cabina] PRIMARY KEY CLUSTERED 
(
	[CABINA_TIPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Tramo]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Tramo](
	[RECORRIDO_CODIGO] [decimal](18, 0) NOT NULL,
	[ORDEN_TRAMOS] [int] NOT NULL,
	[PUERTO_DESDE_ID] [int] NULL,
	[PUERTO_HASTA_ID] [int] NULL,
	[RECORRIDO_PRECIO_BASE] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Tramo] PRIMARY KEY CLUSTERED 
(
	[RECORRIDO_CODIGO] ASC,
	[ORDEN_TRAMOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ZAFFA_TEAM].[Viaje]    Script Date: 25/5/2019 6:20:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ZAFFA_TEAM].[Viaje](
	[VIAJE_ID] [int] IDENTITY(1,1) NOT NULL,
	[RECORRIDO_CODIGO] [decimal](18, 0) NULL,
	[FECHA_SALIDA] [datetime2](3) NULL,
	[FECHA_LLEGADA] [datetime2](3) NULL,
	[FECHA_LLEGADA_ESTIMADA] [datetime2](3) NULL,
	[CRUCERO_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Viaje] PRIMARY KEY CLUSTERED 
(
	[VIAJE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ZAFFA_TEAM].[Administrativo]  WITH CHECK ADD  CONSTRAINT [FK_Administrativo_Rol] FOREIGN KEY([NOMBRE_ROL])
REFERENCES [ZAFFA_TEAM].[Rol] ([NOMBRE_ROL])
GO
ALTER TABLE [ZAFFA_TEAM].[Administrativo] CHECK CONSTRAINT [FK_Administrativo_Rol]
GO
ALTER TABLE [ZAFFA_TEAM].[Cabina]  WITH CHECK ADD  CONSTRAINT [FK_Cabina_Tipo_Cabina] FOREIGN KEY([CABINA_TIPO_ID])
REFERENCES [ZAFFA_TEAM].[Tipo_Cabina] ([CABINA_TIPO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Cabina] CHECK CONSTRAINT [FK_Cabina_Tipo_Cabina]
GO
ALTER TABLE [ZAFFA_TEAM].[Crucero]  WITH CHECK ADD  CONSTRAINT [FK_Crucero_Marca] FOREIGN KEY([CRUCERO_MARCA_ID])
REFERENCES [ZAFFA_TEAM].[Marca] ([CRUCERO_MARCA_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Crucero] CHECK CONSTRAINT [FK_Crucero_Marca]
GO
ALTER TABLE [ZAFFA_TEAM].[Funcionalidad x Rol]  WITH CHECK ADD  CONSTRAINT [FK_Funcionalidad x Rol_Funcion] FOREIGN KEY([FUNCIONALIDAD])
REFERENCES [ZAFFA_TEAM].[Funcionalidad] ([FUNCIONALIDAD])
GO
ALTER TABLE [ZAFFA_TEAM].[Funcionalidad x Rol] CHECK CONSTRAINT [FK_Funcionalidad x Rol_Funcion]
GO
ALTER TABLE [ZAFFA_TEAM].[Funcionalidad x Rol]  WITH CHECK ADD  CONSTRAINT [FK_Funcionalidad x Rol_Rol] FOREIGN KEY([NOMBRE_ROL])
REFERENCES [ZAFFA_TEAM].[Rol] ([NOMBRE_ROL])
GO
ALTER TABLE [ZAFFA_TEAM].[Funcionalidad x Rol] CHECK CONSTRAINT [FK_Funcionalidad x Rol_Rol]
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje]  WITH CHECK ADD  CONSTRAINT [FK_Pasaje_Cabina] FOREIGN KEY([CRUCERO_ID], [CABINA_NRO], [CABINA_PISO])
REFERENCES [ZAFFA_TEAM].[Cabina] ([CRUCERO_ID], [CABINA_NRO], [CABINA_PISO])
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje] CHECK CONSTRAINT [FK_Pasaje_Cabina]
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje]  WITH CHECK ADD  CONSTRAINT [FK_Pasaje_Cliente] FOREIGN KEY([CLI_ID])
REFERENCES [ZAFFA_TEAM].[Cliente] ([CLI_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje] CHECK CONSTRAINT [FK_Pasaje_Cliente]
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje]  WITH CHECK ADD  CONSTRAINT [FK_Pasaje_Crucero] FOREIGN KEY([CRUCERO_ID])
REFERENCES [ZAFFA_TEAM].[Crucero] ([CRUCERO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje] CHECK CONSTRAINT [FK_Pasaje_Crucero]
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje]  WITH CHECK ADD  CONSTRAINT [FK_Pasaje_Viaje] FOREIGN KEY([VIAJE_ID])
REFERENCES [ZAFFA_TEAM].[Viaje] ([VIAJE_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Pasaje] CHECK CONSTRAINT [FK_Pasaje_Viaje]
GO
ALTER TABLE [ZAFFA_TEAM].[Recorrido_Unico]  WITH CHECK ADD  CONSTRAINT [FK_Recorrido_Unico_Recorrido_Unico] FOREIGN KEY([RECORRIDO_CODIGO])
REFERENCES [ZAFFA_TEAM].[Recorrido_Unico] ([RECORRIDO_CODIGO])
GO
ALTER TABLE [ZAFFA_TEAM].[Recorrido_Unico] CHECK CONSTRAINT [FK_Recorrido_Unico_Recorrido_Unico]
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cabina] FOREIGN KEY([CRUCERO_ID], [CABINA_NRO], [CABINA_PISO])
REFERENCES [ZAFFA_TEAM].[Cabina] ([CRUCERO_ID], [CABINA_NRO], [CABINA_PISO])
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cabina]
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([CLI_ID])
REFERENCES [ZAFFA_TEAM].[Cliente] ([CLI_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Crucero] FOREIGN KEY([CRUCERO_ID])
REFERENCES [ZAFFA_TEAM].[Crucero] ([CRUCERO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva] CHECK CONSTRAINT [FK_Reserva_Crucero]
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Viaje] FOREIGN KEY([VIAJE_ID])
REFERENCES [ZAFFA_TEAM].[Viaje] ([VIAJE_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Reserva] CHECK CONSTRAINT [FK_Reserva_Viaje]
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo]  WITH CHECK ADD  CONSTRAINT [FK_Tramo_Puerto_Desde_ID] FOREIGN KEY([PUERTO_DESDE_ID])
REFERENCES [ZAFFA_TEAM].[Puerto] ([PUERTO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo] CHECK CONSTRAINT [FK_Tramo_Puerto_Desde_ID]
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo]  WITH CHECK ADD  CONSTRAINT [FK_Tramo_Puerto_Hasta_ID] FOREIGN KEY([PUERTO_HASTA_ID])
REFERENCES [ZAFFA_TEAM].[Puerto] ([PUERTO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo] CHECK CONSTRAINT [FK_Tramo_Puerto_Hasta_ID]
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo]  WITH CHECK ADD  CONSTRAINT [FK_Tramo_Recorrido_Unico] FOREIGN KEY([RECORRIDO_CODIGO])
REFERENCES [ZAFFA_TEAM].[Recorrido_Unico] ([RECORRIDO_CODIGO])
GO
ALTER TABLE [ZAFFA_TEAM].[Tramo] CHECK CONSTRAINT [FK_Tramo_Recorrido_Unico]
GO
ALTER TABLE [ZAFFA_TEAM].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Crucero] FOREIGN KEY([CRUCERO_ID])
REFERENCES [ZAFFA_TEAM].[Crucero] ([CRUCERO_ID])
GO
ALTER TABLE [ZAFFA_TEAM].[Viaje] CHECK CONSTRAINT [FK_Viaje_Crucero]
GO
ALTER TABLE [ZAFFA_TEAM].[Crucero]  WITH CHECK ADD CHECK  (([ESTADO_CRUCERO]='BAJA DEFINITIVA' OR [ESTADO_CRUCERO]='REINICIO DE SERVICIO' OR [ESTADO_CRUCERO]='FUERA DE SERVICIO' OR [ESTADO_CRUCERO]='ALTA'))
GO
